.app {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.tool-bar {
    flex-basis: 196px;
    flex-grow: 0;
}

.contents {
    flex-grow: 1;
}